.container {
  padding: 30px;

  *:not(h1) {
    margin: 20px;
  }

  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .btn {
    padding: 5px 20px;
    border: 1px solid violet;
    border-radius: 4px;
    transition: color 0.2s ease-in, background 0.2s ease-in;

    &:hover {
      background: violet;
      color: white;
    }
  }

  .card,
  .card1,
  .card2,
  .card3 {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid violet;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: transform 0.1s linear;
  }

  .card {
    &:hover {
      transform: translateY(-5px);
    }

  }

  .card1 {
    &:hover {
      transform: scale(1.05);
    }
  }

  .card2 {
    border-top: 1px solid violet;
    border-right: 1px solid blue;
    border-bottom: 1px solid green;
    border-left: 1px solid darkorange;

    &:hover {
      transform: rotate(45deg);
    }
  }

  .card3 {
    &:hover {
      transform: skew(-20deg);
    }
  }

  .btn1 {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      transform: scale(0);
      opacity: 20;
      background: violet;
      transition: all 0.2s linear;
      transform-origin: left;
    }

    &:hover::before {
      transform: scale(1);
      opacity: 100;
    }
  }
}
