.main * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background: #262626;
  background-image: linear-gradient(to right, #333 1px, transparent 1px), linear-gradient(to bottom, #333 1px, transparent 1px);
  background-size: 4vh 4vh;
}

.textbox h2 {
  font-size: 5em;
  color: #fff;
  font-weight: 600;
  padding: 0 100px;
}

.textbox span {
  color: rgba(255, 255, 255, 0.1);
  position: relative;
  animation: displaytext 9s infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes displaytext {
  0% {
    display: inline-block;
  }

  33.3%,
  100% {
    display: none;
  }
}

/* when span disappear before also disappear */

.textbox span::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  color: #01fe87;
  border-right: 4px solid #01fe87;
  filter: drop-shadow(0 0 5px #01fe87) drop-shadow(0 0 25px #01fe87);
  animation: animate 3s linear infinite;
}

@keyframes animate {

  0%,
  10%,
  100% {
    width: 0;
  }

  /* 70-90 这段时间已经最大，然后90-100这段时间缩小为0 */
  70%,
  90% {
    width: 103%;
  }
}
